* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

section {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #e3f2fd;
}

.show-modal{
    padding: 20px 30px;
    border: none;
    background: #490080;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

button.show-modal
 {
    position: absolute;
    top: 45%;
    left: 45%;
}

.box-modal{
    position: absolute;
    top: 30%;
    left: 38%;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    max-width: 380px;
    width: 100%;
    border-radius: 25px;

    transform: translateY(-1000px);
    transition: 0.5s ease;

    h2{
        margin-bottom: 20px;
    }
    p{
        font-size: 15px;
        font-weight: bold;
    }
}

.bg-black {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0;
    pointer-events: none;
}

section.active .show-modal{
    display: none;
}

section.active .overlay{
    opacity: 1;
    pointer-events: auto;
}


.buttons button{
    margin-top: 50px;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    background: red;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

section.active .box-modal{
   transform: translateY(0px);
}

.buttons button:nth-child(2){
    background: rgb(2, 255, 2);
}

.button-two{
    margin-left: 20px;
}

.overlay.active{
    background: rgba(0,0,0, 0.3);
}

.div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div button{
    margin-left: 30px;
    margin-top: -20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
}